body{
    margin-left: 5%;
}

header{
    text-align: center;
    background-color: burlywood;
}

nav{
    text-decoration: none;
    background-color: coral;
}

nav ul{
    list-style-type: none;
    display: flex;
    padding: 20px 20px;
}

nav a{
    text-decoration: none;
}

article{
    background-color: rosybrown;
    width: 50%;
}

section{
    background-color: red;
}

aside{
    background-color: salmon;
    width: 30%;
}

footer{
    background-color: skyblue;
}